@use "@Styles/index.module.scss";
@use "@Styles/utils.module.scss";

.text {
  @apply text-lg md:text-xl;
  color: var(--text);
  @include utils.transition();

  &.text-primary {
    color: var(--text-primary);
  }
  &.text-secondary {
    color: var(--text-secondary);
  }
}
