@use "@Styles/index.module.scss";
@use "@Styles/utils.module.scss";

.list-container {
  @apply flex flex-col gap-x-0 gap-y-2 p-0 mt-5 list-none overflow-hidden;

  &.display-grid {
    @apply grid;
    grid-template-columns: repeat(
      var(--grid-columns),
      minmax(var(--grid-min-width), var(--grid-max-width))
    );
  }

  .list-item {
    @apply flex gap-2 text-lg;
    color: var(--text);

    &::before {
      @apply text-xl;
      content: "▹";
      color: var(--primary);
    }
  }
}
