/* 
--- 01 Typography System

 - Font Sizes (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - Font Weights:
    default: 400
    Medium: 500
    semi-bold: 600
    Bold: 700

 - Line Height
    Defaults: 1 
    Small: 1.05
    medium: 1.2
    paragraph defaults: 1.6
  
 - Letter Spacing
    -0.5px
    0.75px

 -- 02 Colors
  - Primary: #e67e22
  - Tints: #fdf2e9
  - Shades:
  - Accents:
  - Greys:
  #555
    
 --- 05 Shadows
    
 --- 06 Border-Radius
    default: 9px;
    medium: 11px
 --- 07 WhiteSpace

 - Spacing System (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

// fonts
$font-sans: "Source Sans 3", -apple-system, system-ui, sans-serif;

// Colors Scheme
$yellow: #fbb847;
$yellow-hover: #ffc875;
$dark-blue: #070c18;
$white: #fff;
$black: #000;
$light-grey: #e5e3e1;
$grey: #999493;
$dark-grey: #6a6868;
$blue: #5a23b9;
$blue-hover: #3b0184;

:root {
  scroll-behavior: smooth;

  --primary-light: #{$blue};
  --primary-btn-text-light: #{$white};
  --primary-light-hover: #{$blue-hover};
  --secondary-light: #{$yellow};
  --text-light: #{$dark-blue};
  --accent1-light: #{$yellow};
  --accent2-light: #{$blue};
  --background-light: #{$white};
  --heading-light: #{$black};
  --sub-heading-light: #{$dark-grey};
  --nav-links-light: #{$dark-grey};
  --nav-links-hover-light: #{$blue};

  --primary-dark: #{$yellow};
  --primary-btn-text-dark: #{$dark-blue};
  --primary-dark-hover: #{$yellow-hover};
  --secondary-dark: #{$blue};
  --secondary-btn-text-dark: #{$white};
  --secondary-dark-hover: #{$blue-hover};
  --text-dark: #{$grey};
  --accent1-dark: #{$yellow};
  --accent2-dark: #{$yellow};
  --background-dark: #{$dark-blue};
  --heading-dark: #{$white};
  --sub-heading-dark: #{$grey};
  --nav-links-dark: #{$light-grey};
  --nav-links-hover-dark: #{$yellow-hover};
}

// Light Theme
[color-scheme="light"] {
  --primary: var(--primary-light);
  --primary-btn-text: var(--primary-btn-text-light);
  --primary-hover: var(--primary-light-hover);
  --secondary: var(--secondary-light);
  --secondary-hover: var(--secondary-hover);
  --secondary-btn-text: var(--secondary-btn-text-light);
  --heading: var(--heading-light);
  --sub-heading: var(--sub-heading-light);
  --text: var(--text-light);
  --accent1: var(--accent1-light);
  --accent2: var(--accent2-light);
  --background: var(--background-light);
  --nav-links: var(--nav-links-light);
  --nav-links-hover: var(--nav-links-hover-light);
}

// Dark Theme

[color-scheme="dark"] {
  --primary: var(--primary-dark);
  --primary-hover: var(--primary-dark-hover);
  --primary-btn-text: var(--primary-btn-text-dark);
  --secondary: var(--secondary-dark);
  --secondary-hover: var(--secondary-dark-hover);
  --secondary-btn-text: var(--secondary-btn-text-dark);
  --heading: var(--heading-dark);
  --sub-heading: var(--sub-heading-dark);
  --text: var(--text-dark);
  --accent1: var(--accent1-dark);
  --accent2: var(--accent2-dark);
  --background: var(--background-dark);
  --nav-links: var(--nav-links-dark);
  --nav-links-hover: var(--nav-links-hover-dark);
}
