@use "@Styles/index.module.scss";
@use "@Styles/utils.module.scss";

[color-scheme="light"] {
  .contact-details-container {
    --contact-background-color: #f2f3f4;
  }
}

[color-scheme="dark"] {
  .contact-details-container {
    --contact-background-color: #161718;
  }
}

.contact-details-container {
  --contact-background-color: none;
  @apply w-full flex flex-col items-center p-8 rounded-3xl;
  backdrop-filter: 15px;
  background-color: color-mix(
    in srgb,
    var(--contact-background-color),
    transparent 10%
  );
  @include utils.transition();

  .heading {
    @apply text-lg gap-2 text-[var(--primary)];
    line-height: unset;

    &::before {
      @apply text-base text-[var(--primary)];
    }

    &::after {
      display: none;
    }
  }
  .title {
    @apply text-[40px] md:text-6xl font-extrabold mt-5;
    letter-spacing: unset;
  }
  .message {
    @apply text-lg w-full md:w-1/2 text-center mt-5;
    line-height: 1.3;
  }
  .cta {
    @apply text-base md:text-lg mt-6;
    letter-spacing: 1px;
  }
}
