@use "@Styles/index.module.scss";
@use "@Styles/utils.module.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline-color: var(--primary);
}

body {
  font-family: index.$font-sans;
}

main {
  @include utils.transition;
}

main.light {
  background-color: var(--background-light);
}

main.dark {
  background-color: var(--background-dark);
}
