@use "@Styles/index.module.scss";
@use "@Styles/utils.module.scss";

[color-scheme="light"] {
  .footer {
    --footer-background-color: #dedfe0;
  }
}

[color-scheme="dark"] {
  .footer {
    --footer-background-color: black;
  }
}

.footer {
  @apply flex flex-col items-center justify-center -mx-[25px] md:-mx-[50px] lg:-mx-[100px] bg-[var(--footer-background-color)];
  @apply py-[50px] pt-60;
  @include utils.transition();
  .social-links {
    @apply flex gap-8;
  }
  .copy-rights {
    @apply text-sm md:text-base mt-6 flex items-center gap-1;
    color: var(--sub-heading);
    .icon {
      @apply text-xs;
      color: var(--sub-heading);
    }
  }
}
